<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <h1>Welcome</h1>
    <div class="main-box">
        <h2>Hello World</h2>
        <h3>My first Application running in web server</h3>
   
            <img src="{{url_for('static' ,filename='images/img1.jpg')}}">
    </div>
</body>
</html>